dns-deploy/.terraform
dns-deploy/.terraform.lock.hcl
dns-deploy/secret.auto.tfvars

dns-deploy/network/.terraform
dns-deploy/network/.terraform.lock.hcl

dns-deploy/security_groups/.terraform
dns-deploy/security_groups/.terraform.lock.hcl

env_vars.sh